<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Orange_Automation">
	<test name="HRM_Login">
		<classes>
			<class name="TESTNGDAY1.Orange_HRM_Automation">
				<methods>
					<include name="openbrowser" />
					<include name="login" />
					<include name="verifymylogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="HRM_Verify_info">
		<classes>
			<class name="TESTNGDAY1.Orange_HRM_Automation">
				<methods>
					<include name="openbrowser" />
					<include name="login" />
					<include name="verifymyinfo" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="HRM_info">
		<classes>
			<class name="TESTNGDAY1.Orange_HRM_Automation">
				<methods>
					<include name="openbrowser" />
					<include name="login" />
					<include name="logout()" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
